#container>div {
    display: flex;

}

.second {
    margin-left: 110px;
}

#signup {
    display: flex;
    justify-content: space-evenly;
}
input{
    padding: 10px 5px 10px 5px;
}
a{
    color: black;
    padding: 30px;
    font-size: 18px;
    
}

button {
    padding: 15px 5px 15px 5px;
    font-size: 15px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    margin-top: 1rem;
    background-color: rgb(45, 43, 43);
    color: white;
}
h2{
    margin-left: 70px;
}
h3{
    margin-left: 70px;

}

.fa-brands {
    margin-right: 10px;
}

.fb {
    background-color: dodgerblue;
    margin-right: 100px;
}

.google {
    background-color: orangered;
}

.vk {
    background-color: steelblue;
}
.signin{
    margin-left: 29px;
}